body {
    height: 100vh; 
    width: 100vw;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto 7fr;
    margin: 0;
}

.sidenav {
    background-color: darkslategray;
    padding: 24px;
    color: white;
}

.logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.logo > h1,
.svg {
    height: 3rem;
}

.svg {
    fill: white;
    padding: 1rem;
}

.main {
    padding: 10%;
    background-color: #ecfeff;
    display: grid;
    justify-items: center; 
}

#librarytable {
    border-collapse: collapse;
    border: 2px solid black;
    letter-spacing: .1rem;
    font-size: 1rem;
}

th, td {
    border: 1px solid black;
    padding: 0.5rem 1rem;
}

button {
    padding: 0.5rem;
    border-radius: 5%;
    border: 1px solid #bbb;
    font-weight: 600;
    margin-left: 1rem;
    margin-top: 1rem;
    letter-spacing: .1rem;
}

.submitbutton {
    color: #555;
    background-color: #ecfeff;
    width: 10rem;
}

.tableButton {
    background-color: #f87171;
    color: white;
}
fieldset,
.authordiv,
.titlediv,
.pagesdiv {
    display: flex;
    flex-direction: column;
}

fieldset {
    border-radius: 10%;
}

#addBookForm > fieldset {
    gap: 12px;
    padding-top: 12px;
    font-weight: 600;
}

input {
    border: 2px solid gray;
    box-shadow: 2px 2px 4px darkgray; 
    border-radius: 5%;
}

input:invalid:not(:placeholder-shown) {
    border: 2px solid red;
    box-shadow: 2px 2px 4px darkgray; 
}

input:invalid:not(:placeholder-shown) + span.title-error:before,
input:invalid:not(:placeholder-shown) + span.author-error:before,
input:invalid:not(:placeholder-shown) + span.pages-error:before {
    color: red;
    font-size: 0.5rem;
}

input:invalid:not(:placeholder-shown) + span.title-error:before {
    content: "Please put a valid title.";
}

input:invalid:not(:placeholder-shown) + span.author-error:before {
    content: "Please put a valid author's name.";
}

input:invalid:not(:placeholder-shown) + span.pages-error:before {
    content: "Please put a valid number of pages.";
}